.feedback-form {
    max-width: 600px;
    margin: 0 auto;
}
  
.feedback-form div {
    margin-bottom: 15px;
}
  
.feedback-form label {
    display: block;
    margin-bottom: 5px;
}
  
.feedback-form input,
.feedback-form textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
  
.feedback-form button {
    padding: 10px 15px;
}

.validator{
    font-weight : bold;
    color : red
}